<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ModPlus.AutoCADAPI" version="2018.0.0" targetFramework="net46" />
  <package id="ModPlusAPI" version="1.2.6.7" targetFramework="net46" />
  <package id="ModPlusStyle" version="1.2.6.7" targetFramework="net46" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net46" developmentDependency="true" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net46" />
</packages>